html
  body
    form(action='/driver' method='post')
      div
        h2 RIDESHARE
        p EARN MONEY WITH YOUR CAR
      ul
        li
          label Driver Name 
          div
            input(type='text', maxlength='255', value='',name="uname")
        li
          label Contact 
          div
            input(type='text', maxlength='255', value='',name="contact")
        li
          label Date of joining 
          span
            input(name='element_4_1', size='2', maxlength='2', value='', type='text')
            |  /
            label MM
          span
            input(name='element_4_2', size='2', maxlength='2', value='', type='text')
            |  /
            label DD
          span
            input(name='element_4_3', size='4', maxlength='4', value='', type='text')
            label YYYY
          span
            img(src='', alt='Pick a date.')
        li
          label Car name 
          div
            input(name='element_5', type='text', maxlength='255', value='')
        li
          label Time 
          span
            input(name='element_6_1', size='2', type='text', maxlength='2', value='')
            |  : 
            label HH
          span
            input(name='element_6_2', size='2', type='text', maxlength='2', value='')
            |  : 
            label MM
          span
            input(name='element_6_3', size='2', type='text', maxlength='2', value='')
            label SS
          span
            select(style='width:4em', name='element_6_4')
              option(value='AM') AM
              option(value='PM') PM
            label AM/PM
        li
          label Pickup location 
          div
            textarea(name='pick')
        li
          label Drop off location 
          div
            textarea(name='drop')
        li
          input(type='hidden', name='form_id', value='1028665')
          input(type='submit', name='submit', value='Submit')
