html
	body
		h1 Passengers List
			ul
				each passenger in passengers
					script(type='text/javascript').
					function checkboxlimit(checkgroup, limit){
					var checkgroup=checkgroup
					var limit=limit
					for (var i=0; i<checkgroup.length; i++){
					checkgroup[i].onclick=function(){
					var checkedcount=0
					for (var i=0; i<checkgroup.length; i++)
					checkedcount+=(checkgroup[i].checked)? 1 : 0
					if (checkedcount>limit){
					this.checked=false
					}
					}
					}
					}
					p Select your favorite two countries below:
					form#world(name='world')
						input(type='checkbox', name='countries')
						|  USA
						br
						input(type='checkbox', name='countries')
						|  Canada
						br
						input(type='checkbox', name='countries')
						|  Japan
						br
						input(type='checkbox', name='countries')
						|  China
						br
						input(type='checkbox', name='countries')
						|  France
						br
					script(type='text/javascript').
      //Syntax: checkboxlimit(checkbox_reference, limit)
  						checkboxlimit(document.forms.world.countries, 4)