html
  body
    h1  passenger 
    form(method='POST', action='/passenger')
      label Name:
      input#name(name='uname', type='text')
      br
      label contact:
      input#age(name='contact', type='text')
      br
      br
      input(type='submit', value='Submit')