#intro {
  background: url('qwerty.jpg') fixed;
  background-size: cover;
  height: 600px;
  margin-top: -8px;
}

.my-box {
  padding-top: 100px;
  color: black;
}

#data {
  background: url('ride-sharing.jpg') fixed;
  background-size: cover;
  height: 600px;
  margin-top: 0px;
}

.driver {
  color: white;
  font-style: bold;
}

.Content {
  margin-top: 140px;
  text-align: center;
  margin-bottom: 100px;
}